.main{
    border-radius: 12px;
    width: 200px;
margin: auto;
background-color: silver;
}
h1{
    text-align: center;
    color: white;
}
.result{
    width: 96%;
    background-color: rgb(163, 63, 63);
    color: white;
}
.clear{
    width: 100%;
    margin-top: 5px;
    background-color: yellow;
}
.btn{
    width: 45px;
    margin: 1px;
    background-color: orange;
    margin-top: 5px;
}
.last{
    width: 100%;
    margin-top: 5px;
    background-color: orange
}